:root {
  /* Main Colors */
  --ion-color-primary: #a8a8ec;      /* Muted Lilac */
  --ion-color-secondary: hsl(93, 48%, 77%);    /* Soft Sage */
  --ion-color-tertiary: #e282af;     /* Soft Pink */

  /* App Surfaces */
  --ion-background-color: #020202;   /* Pitch Black */
  --ion-item-background: #f2edf4;    /* White cards for high contrast */

  /* Text Colors */
  --ion-text-color: #c2e1a9;         /* Soft white for text on dark background */

  /* Custom Palette for easy use */
  --palette-black: #020202;
  --palette-lilac: #a8a8ec;
  --palette-mint: #c2e1a9;
  --palette-white: #f2edf4;
  --palette-pink: #e282af;
}
