<ion-app>
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>

    <ion-tab-bar slot="bottom" class="custom-tab-bar">
      <ion-tab-button tab="home">
        <div class="indicator-box">
          <ion-icon name="home-outline"></ion-icon>
        </div>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="add-task">
        <div class="indicator-box">
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        <ion-label>Add</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="health-hub">
        <div class="indicator-box">
          <ion-icon name="calendar-clear-outline"></ion-icon>
        </div>
        <ion-label>Hub</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="services">
        <div class="indicator-box">
          <ion-icon name="medical-outline"></ion-icon>
        </div>
        <ion-label>Care</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
