<ion-app>
<ion-menu contentId="main-content" type="overlay">
  <ion-content class="menu-content">
    <div class="menu-wrapper">

      <div class="menu-top">
        <ion-list lines="none">
          <ion-list-header>
            <ion-label class="menu-title">SETTINGS</ion-label>
          </ion-list-header>

          <ion-item button class="menu-item">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>

          <ion-item button class="menu-item">
            <ion-icon name="notifications-outline" slot="start"></ion-icon>
            <ion-label>Notifications</ion-label>
          </ion-item>
        </ion-list>
      </div>

      <div class="menu-bottom">
        <ion-button fill="clear" class="btn-logout">
          Logout
        </ion-button>
      </div>

    </div>
  </ion-content>
</ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header class="ion-no-border custom-glass-header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button class="header-btn"></ion-menu-button>
        </ion-buttons>

        <ion-title>your app</ion-title>

        <ion-buttons slot="end">
          <ion-button class="header-btn">
            <ion-icon name="person-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>

      <ion-tab-bar slot="bottom" class="custom-tab-bar">
        <ion-tab-button tab="home">
          <div class="indicator-box">
            <ion-icon name="home-outline"></ion-icon>
          </div>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="add-task">
          <div class="indicator-box">
            <ion-icon name="add-circle-outline"></ion-icon>
          </div>
          <ion-label>Add</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="calendar">
          <div class="indicator-box">
            <ion-icon name="calendar-clear-outline"></ion-icon>
          </div>
          <ion-label>Hub</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="patient-services">
          <div class="indicator-box">
            <ion-icon name="medical-outline"></ion-icon>
          </div>
          <ion-label>Care</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-app>
