<ion-app>

  <ion-header class="ion-no-border custom-glass-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="header-btn">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>your app</ion-title>

      <ion-buttons slot="end">
        <ion-button class="header-btn">
          <ion-icon name="options-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>

    <ion-tab-bar slot="bottom" class="custom-tab-bar">
      <ion-tab-button tab="home">
        <div class="indicator-box">
          <ion-icon name="home-outline"></ion-icon>
        </div>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="add-task">
        <div class="indicator-box">
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        <ion-label>Add</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="health-hub">
        <div class="indicator-box">
          <ion-icon name="calendar-clear-outline"></ion-icon>
        </div>
        <ion-label>Hub</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="services">
        <div class="indicator-box">
          <ion-icon name="medical-outline"></ion-icon>
        </div>
        <ion-label>Care</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
